<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="stylesheet" href="styles.css?v=6" />
</head>
<script>
  const y = document.getElementById("year");
  if (y) y.textContent = new Date().getFullYear();
</script>
<body>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}
</body>
</html>
